<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input-data :add="addUser" :edit-button="editButton" :form.sync="formUser" :update="updateUser"></input-data>
        <list-data :reverse="reverseUsers" :edit="editUser" :hapus="deleteUser"></list-data>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        Vue.component('input-data', {
            props: ['add', 'edit-button', 'form', 'update'],
            template: `
            <div>
                <input type="text" :value='form' @input='$emit("update:form", $event.target.value)'></input>
                <input v-if="!editButton"type="submit" value="Add Data" @click="add" ></input>  
                <input v-else-if="editButton"type="submit" value="Update Data" @click="update" ></input>  
            </div> `,
        })

        Vue.component('list-data', {
            props: ['reverse', 'edit', 'hapus'],
            template: `
            <div>
                <table>
                <tr v-for="(user , index) in reverse" :key="index">
                    <ul>
                        <td>
                            {{ user.name }} 
                        </td>
                    </ul>
                    <td><button @click="edit(index)">Edit</button></td>
                    <td><button @click="hapus(index)">Delete</button></td>
                </tr>
            </table>
            </div> `,

        })

        var vm = new Vue({
            el: '#app',
            data: {
                formUser: '',
                editButton: false,
                idSelected: null,
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
            },
            methods: {
                addUser: function () {
                    this.users.push({ name: this.formUser })
                    this.formUser = ''
                },
                editUser: function (id) {
                    this.formUser = this.reverseUsers[id].name
                    this.editButton = true,
                        this.idSelected = id
                },
                updateUser: function () {
                    this.reverseUsers[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.editButton = false
                },

                deleteUser: function (id) {
                    let confirmation = confirm("Anda yakin ?")
                    if (confirmation) {
                        this.reverseUsers = this.reverseUsers.filter(function (item, index) {
                            return index != id
                        })
                    }
                }
            },
            computed: {
                reverseUsers: {
                    get: function () {
                        return this.users.slice().reverse()
                    },
                    set: function (value) {
                        this.users = value.slice().reverse()
                    }
                }
            },
        })
    </script>
</body>

</html>