<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- anggota.photo_profile ? anggota.photo_profile : -->

<body>
    <div class="container" id="app">
        <h3 class="text-center">Data Member</h3>
        <div v-if="isEditing == 'tidak'">
            <table>
                <tr>
                    <td>
                        Masukan Nama
                    </td>
                    <td>
                        <input type="text" v-model="namaMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Masukan Alamat
                    </td>
                    <td>
                        <input type="text" v-model="alamatMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Masukan No. Hp
                    </td>
                    <td>
                        <input type="text" v-model="nohpMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="Add Data" @click="tambahData">
                    </td>
                </tr>
            </table>
        </div>
        <div v-else-if="isEditing == 'sedangEdit'">
            <table>
                <tr>
                    <td>
                        Masukan Nama
                    </td>
                    <td>
                        <input type="text" v-model="namaMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Masukan Alamat
                    </td>
                    <td>
                        <input type="text" v-model="alamatMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Masukan No. Hp
                    </td>
                    <td>
                        <input type="text" v-model="nohpMember" />
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="Update Data" @click="updateData(editMemberId)">
                        <input type="submit" value="Cancel" @click="cancelEdit">
                    </td>
                </tr>
            </table>
        </div>
        <div v-else-if="isEditing == 'sedangUploadFoto'">
            <table>
                <tr>
                    <td>
                        Upload Foto
                    </td>
                    <td>
                        <input type="file" name="photo" ref="photo" />
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="Update Foto" @click="submitFoto(editMemberId)">
                        <input type="submit" value="Cancel" @click="cancelEdit">
                    </td>
                </tr>
            </table>
        </div>
        <table border=1>
            <tr v-for="anggota in member">
                <td>
                    <img width=100
                        :src="anggota.photo_profile ? anggota.photo_profile : 'https://dummyimage.com/600x400/000/fff'"
                        alt="">
                </td>
                <td>
                    <b>ID : </b> {{anggota.id}} <br>
                    <b>Nama : </b> {{anggota.name}} <br>
                    <b>Alamat : </b> {{anggota.address}} <br>
                    <b>No. Hp : </b> {{anggota.no_hp}} <br>
                </td>

                <td>
                    <button @click='editData(anggota)'>Edit</button>
                    <button @click='uploadFoto(anggota.id)'>Upload Foto </button>
                    <button @click='removeData(anggota.id)'>Delete</button>
                </td>
            </tr>
        </table>

    </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        const vm = new Vue({
            el: '#app',
            //Mock data for the value of BTC in USD
            data: {
                isEditing: 'tidak',
                member: [],
                namaMember: "",
                alamatMember: "",
                nohpMember: "",
                editMemberId: 0,
            },
            methods: {
                getData: function () {
                    const url = "http://demo-api-vue.sanbercloud.com/api/member";

                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                    }

                    axios(config).then(response => {
                        this.member = response.data.members
                        console.log(response.data)
                    })
                        .catch((error) => {
                            console.log(errors)
                        })
                },

                removeData: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: "DELETE" }
                    }
                    axios(config).then(response => {
                        if (response.status == 200) {
                            this.getData()
                        } else {
                            alert("Gagal di Hapus")
                        }
                    })
                        .catch((error) => {
                            console.log(errors)
                        })
                },

                tambahData: function () {

                    let formData = new FormData();
                    formData.append('name', this.namaMember)
                    formData.append('address', this.alamatMember)
                    formData.append('no_hp', this.nohpMember)

                    const config = {
                        method: "post",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData,
                    }

                    axios(config).then(response => {
                        this.clearForm()
                        this.getData()
                        console.log(response.data)
                    })
                        .catch((error) => {
                            console.log(errors)
                        })
                },

                editData: function (anggota) {
                    this.namaMember = anggota.name
                    this.alamatMember = anggota.address
                    this.nohpMember = anggota.no_hp
                    this.isEditing = 'sedangEdit'
                    this.editMemberId = anggota.id
                },

                cancelEdit: function () {
                    this.clearForm()
                    this.isEditing = 'tidak'
                },

                updateData: function (id) {
                    let formData = new FormData();
                    formData.append('name', this.namaMember)
                    formData.append('address', this.alamatMember)
                    formData.append('no_hp', this.nohpMember)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: "PUT" },
                        data: formData
                    }

                    axios(config).then(response => {
                        this.clearForm()
                        this.getData()
                        console.log(response.data)
                    })
                        .catch((error) => {
                            console.log(errors)
                        })
                },

                uploadFoto: function (id) {
                    this.editMemberId = id
                    console.log(this.editMemberId)
                    this.isEditing = 'sedangUploadFoto'
                },

                submitFoto: function (id) {
                    console.log(id)

                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config).then(response => {
                        this.clearForm()
                        this.getData()
                        this.isEditing = "tidak"
                        console.log(response.data)
                    })
                        .catch((error) => {
                            console.log(errors)
                        })
                },

                clearForm: function () {
                    this.namaMember = ""
                    this.alamatMember = ""
                    this.nohpMember = ""
                },
            },

            created() {
                this.getData()
            }

        });

    </script>
</body>

</html>