<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="search-wrapper">
            <div v-if="!isEditing">
                <input type="text" v-model="user.name" />
                <input type="submit" value="Add Data" @click="addNewUser">
            </div>
            <div v-else>
                <input type="text" v-model="user.name" />
                <input type="submit" value="Edit Data" @click="updateData">

            </div>
            <table>
                <tr v-for=" (pengguna, index) in users">
                    <ul>
                        <td>
                            {{pengguna.name}}
                        </td>
                    </ul>

                    <td><button @click='editData(index, pengguna)'>Update</button></td>
                    <td><button @click='deleteData(index)'>Delete</button></td>
                </tr>
            </table>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isEditing: false,
                selectedIndex: null,
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name': 'Ruby Purwanti',
                    },
                    {
                        'name': 'Faqih Muhammad',
                    }
                ],
                user: { name: "" },
            },
            methods: {
                addNewUser: function () {
                    if (this.user.name != "") {
                        this.users.push({ name: this.user.name })
                        alert("Berhasil")
                        this.user = { name: "" }
                    }
                    else {
                        alert("Tidak Boleh Kosong!!")
                    }
                },
                deleteData: function (idx) {
                    this.users.splice(idx, 1);
                },
                editData: function (idx, user) {
                    this.user.name = user.name
                    this.selectedIndex = idx
                    this.isEditing = true
                },
                updateData: function () {
                    if (this.user.name != "") {
                        this.users.splice(this.selectedIndex, 1, this.user);
                        this.user = { name: "" }
                        alert("Edit Berhasil")
                        this.isEditing = false
                    }
                    else {
                        alert("Tidak Boleh Kosong!!")
                    }
                }
            },
        })
    </script>
</body>

</html>