<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="search-wrapper">
            <input type="text" v-model="cari" placeholder="Cari Buku" />
            <li v-for="buku in bukuFilter">
                {{ buku }}
            </li>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                cari: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linear Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemgrograman'
                ],
            },
            computed: {
                bukuFilter() {
                    return this.books.filter(buku => {
                        return buku.toLowerCase().includes(this.cari.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>

</html>